@media (max-width: 1025px) {

    .newest__inner,
    .choose,
    .weekly__slide,
    .followers__slide,
    .feedback,
    .blog {
        padding: 50px 0 50px;
    }

    .newest__inner-panel {
        margin-bottom: 30px;
        min-height: none;
        padding: 10px 10px;
        flex-wrap: wrap;
    }

    .newest__inner-panel button {
        display: block;
    }

    .sell-buy__text {
        color: #fff;
        max-width: none;
        padding: 0px 10px;
        margin: 0 auto 45px;
    }

    .blog .product__item {
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .weekly__slide-content {
        max-width: 50%;
        padding: 20px 20px 44px 20px;

    }

    .blog__inner {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -20px;

        .product__item-img img {
            min-width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item_box {
            width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item {
            max-width: 50%;
            flex-basis: calc(50% - 20px);
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .newest__inner-items {
        justify-content: flex-start;
        margin-left: -20px;

        .product__item-img img {
            min-width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item_box {
            width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item {
            max-width: none;
            width: none;
            flex-basis: calc(50% - 20px);
            margin-left: 20px;
        }
    }

    .followers__slide-inner {
        justify-content: space-between;
        // margin-left: -20px;
        margin: 0 -20px;
 
     

        .product__item-img img {
            min-width: 100%;
            flex-basis: calc(33.333% - 20px);
        }

       .slick-slide .product__item_box {
            width: 100%;
            flex-basis: calc(33.333% - 20px);
            margin: 0 20px;
        }

               .slick-slide .product__item {
            margin: 0 20px;
            max-width: none;
            width: none;
            flex-basis: calc(33.333% - 20px);
        }
    }

    .search__box-inner {
        justify-content: space-around;
        width: 96%;

    }

    .search__box-inner::before {
        width: 97.2%;
    }

    .search__box-inner::after {
        width: 94.5%;
    }

    .search__box-inner form input {
        min-width: 0;
        max-width: 80%;
    }

    .search__now-btn {
        padding: 20px 40px;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__col-logo {
        min-width: 100%;
        margin-bottom: 30px;
    }

    .footer__info-text::before {
        top: 0px;
    }
}

@media (max-width: 960px) {
    .feedback__item {
        padding: 20px 15px 0;
    }

    .blog__title,
    .feedback__title {
        margin-bottom: 20px;
    }

    .blog__text,
    .feedback__text {
        padding: 0px 10px;
        max-width: none;
        margin: 0 auto 30px;
    }

    .marketing__inner {
        flex-wrap: wrap;
    }

    .marketing__item {
        max-width: 100%;
    }

    .header__btn {
        min-width: 140px;
    }

    .menu__products-box,
    .menu__home-box,
    .menu__wordpress-box {

        &:hover {

            .menu__products-menu,
            .menu__home-menu,
            .menu__wordpress-menu {
                top: 45px;
                left: 15px;
                padding-top: 15px;
                padding: 10px;
            }
        }
    }

    .menu__list {
        display: none;
        background-color: #fff;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        z-index: 1;
        text-align: center;
        padding: 20px 0;

        .menu__list-link {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid $bg-btn;
        }

        .menu__list-line {
            display: block;

            &+.menu__list-line {
                margin-left: 0;
            }

            &:first-child {
                border-top: 1px solid $bg-btn;
            }
        }
    }

    .menu__btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $bg-btn;
        position: relative;
        cursor: pointer;

        &:before {
            content: "\e870";
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 30px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .menu__btn {
        top: 18px;
        position: absolute;
    }

    .header__menu-search {
        position: absolute;
        right: 0px;
        width: 70px;
    }

    .header__top-inner {

        justify-content: flex-start;
        height: 80px;
    }

    .header__logo {
        margin-left: 80px;
    }

    .search__box-inner::before {
        width: 96.7%;
    }

    .search__box-inner::after {
        width: 93.6%;
    }
}

@media (max-width: 800px) {
    .blog__inner {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: -20px;

        .product__item-img img {
            min-width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item_box {
            width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item {
            max-width: none;
            width: none;
            flex-basis: calc(100% - 20px);
            margin-left: 20px;
            margin-right: 0;
        }
    }

    .newest__inner-items {
        justify-content: flex-start;
        margin-left: -20px;

        .product__item-img img {
            width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item_box {
            width: 100%;
            flex-basis: calc(100% - 20px);
        }

        .product__item {
            max-width: none;
            width: none;
            flex-basis: calc(100% - 20px);
            margin-left: 20px;
        }
    }

    .feedback__item-avatar {
        width: 50px;
        height: 50px;
    }

    .feedback__item-icon {
        font-size: 50px;
    }

    .feedback__item-user {
        margin-bottom: 5px;
    }

    .choose__inner-item {
        padding: 15px 10px 20px;
        margin-bottom: 30px;
    }

    .sell-buy__title {
        font-size: 36px;
        margin-bottom: 15px;
        padding: 0px 10px;
    }

    .money-back__link {
        font-size: 22px;
        padding: 0px 10px;
    }

    .join__inner {
        padding: 80px 0px 0px;
    }

    .join__inner-title {
        line-height: 40px;
    }

    .newest__inner,
    .choose,
    .weekly__slide,
    .followers__slide,
    .feedback,
    .blog {
        padding: 70px 0 70px;
    }

    .weekly__slide-top {
        min-height: 90px;
        width: 100%;
        padding: 0px 30px;
        margin-bottom: 30px;
    }

    .weekly__slide .icon-angle-left,
    .weekly__slide .icon-angle-right {
        top: -85px;
    }

    .weekly__slide-item {
        flex-direction: column;
    }

    .weekly__slide-content,
    .weekly__slide-images {
        max-width: 100%;
    }

    .weekly__slide-btn,
    .weekly__slide-text,
    .weekly__slide-name {
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

    .weekly__slide-btn {
        margin-bottom: 15px;
    }

    .search__box-inner::before {
        width: 95.8%;
    }

    .search__box-inner::after {
        width: 91.6%;
    }

    .header__box-basket {
        margin-right: 15px;
    }

    .header__avatar-user__menu {
        margin-top: 40px;
        margin-right: auto;
        margin-left: 0;
    }

    .header__avatar-img {
        margin-left: 10px;
        margin-top: 10px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 770px) {
    .user__menu {
        top: 70px;
    }

    .basket__box:hover .basket__menu {
        top: 54px;
        left: -50px;
        right: 0;
        width: 300px;

        &::before {
            display: none;
        }
    }

    .notification__box,
    .messages__box,
    .header__btn-menu {
        display: none;
    }

    .footer-col__menu {
        & + & {
            margin-left: 30px;
        }
    }

    .footer__inner {
        padding: 50px 0px 50px;
        justify-content: start;
    }

    .footer__col-title {
        min-width: 100%;
        margin-top: 30px;
    }

    .footer__col .footer__col-text {
        min-width: 100%;
    }

    .header__menu-btn {
        max-width: 280px;
        margin-left: auto;
    }

    .header__btn-menu {
        display: block;
        width: 70px;
        height: 80px;
        background-color: $bg-btn;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        &:before {
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 30px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .header__box {
        position: absolute;
        background-color: #eef1f3;
        min-height: 80px;
        margin-top: 0;
        transition: all .5s;
        left: 100%;
        right: 0;

        &.active {
            left: 70px;
        }
    }

    .header__avatar-user__menu {
        position: absolute;
        transition: all .5s;
        left: 100%;
        right: 0;
        margin-top: 20px;
        height: 80px;

        &.active {
            left: auto;
            right: 15%;
        }
    }

    .search {
        min-height: 625px;
    }

    .search__top-title {
        padding: 80px 0 0px 0;
    }

    .search__inner {
        font-size: 40px;
        line-height: 50px;
    }

    .search__text {
        font-size: 18px;
        padding: 2px 15px 10px 15px;
    }

    .search__box-inner::before {
        width: 95.8%;
    }

    .search__box-inner::after {
        width: 91.6%;
    }

    .search__box-inner form input {
        padding: 0px 10px;
        min-width: 0;
        max-width: 50%;
    }

    .search__box-inner .jq-selectbox__select {
        padding: 0px 40px 0px 10px;
    }

    .search__now-btn {
        padding: 20px 50px;
        margin-left: 0px;
    }

    .advantages {
        padding: 50px 0px;
    }

    .advantages__inner {
        flex-wrap: wrap;
    }

    .advantages__item {
        max-width: 50%;
        margin-bottom: 30px;
    }

    .advantages__item-title {
        margin-bottom: 20px;
    }

    .blog__title,
    .feedback__title,
    .money-back__images,
    .sell-buy__title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .money-back__item {
        padding: 50px 0;
    }

    .sell__buy-inner {
        flex-direction: column;
    }

    .sell-buy__item {
        padding: 50px 10px;
        width: 100%;
    }

    .choose__inner-item {
        max-width: 100%;
    }
}

@media (max-width: 600px) {

    .header__logo-img {
        width: 120px;
    }

    .header__btn {
        margin-right: 10px;
        padding: 4px 6px;
        min-width: 90px;
        width: 100%;
    }

    .header__avatar-img {
        margin-right: 10px;
    }

    .header__avatar-info {
        max-width: 60px;
        line-height: 20px;
        font-size: 14px;
    }

    .search__box-inner {
        justify-content: center;
    }

    .search__now-btn {
        padding: 20px 40px;
        margin: 0px auto 0px 0;
    }

    .jq-selectbox__dropdown {
        max-width: 120px;
        padding: 0px;
        margin: 10px 0 0 0;
        left: -80px;
        right: auto;
    }

    .search__box-inner::before {
        width: 93.8%;
    }

    .search__box-inner::after {
        width: 89.3%;
    }

    .search__box-inner form input {
        padding: 0px 10px;
        min-width: 0;
        max-width: 50%;
    }

    .search__box-inner .jq-selectbox__select {
        padding: 0px 30px 0px 10px;
        width: 30%;
    }

    .search-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .search__text {
        line-height: 30px;
        margin-bottom: 20px;
    }

    .weekly__slide-top,
    .newest__inner-top {
        padding: 0px 15px;
        margin-bottom: 15px;
    }

    .weekly__slide .icon-angle-right {
        top: -70px;
        right: 40px;
    }

    .weekly__slide .icon-angle-left {
        top: -70px;
        right: 85px;
    }

    .newest__inner-top-title,
    .weekly__slide-top__title,
    .advantages__item-num {
        font-size: 25px;
    }

    .weekly__slide-top__arrow,
    .followers__slide-top__arrow {
        height: 35px;
        width: 100px;
    }

    .weekly__slide-price {
        padding: 4px 5px;
        margin-right: 10px;
    }

    .advantages__item-title {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .advantages__item-num,
    .choose__title {
        font-size: 30px;
    }

    .money-back__inner {
        flex-wrap: wrap;
    }

    .money-back__item--line {
        border-right: none;
        border-bottom: 1px solid #e8eaf3;
    }

    .newest__inner-top {
        min-height: 90px;
    }

    .newest__inner-top-title {
        padding: 10px;
        font-size: 25px;
    }

    .newest__inner-top-filter {
        padding-right: 50px;
        padding-top: 10px;
        line-height: 32px;
    }

    .newest__inner-top-filter .filter-icon {
        font-size: 25px;
        top: 30px;
        right: 0px;
    }

    .newest__inner-top-filter {
        padding-right: 10px;
        padding-top: 20px;
        line-height: 20px;
    }

    .newest__inner-panel button {
        margin-bottom: 7px;
    }

}

@media (max-width: 415px) {
    .product__item-content .product__item-title {
        padding: 0px 15px 0px 15px;
        margin-bottom: 10px;
    }

    .product__item-content .product__item-text {
        padding: 0px 15px 10px 15px;
        margin-bottom: 10px;
    }

    .product__item-content {
        padding: 0px 0px;
    }

    .product__item-content .product__item-name {
        padding: 0px 15px 0px 15px;
        margin-bottom: 10px;
    }

    .followers__slide .icon-angle-left {
        right: 85px;
        top: -80px;
    }

    .followers__slide .icon-angle-right {
        right: 47px;
        top: -80px;
    }

    .followers__slide-top__title {
        font-size: 25px;

    }

    .followers__slide-top {
        padding: 0px 15px;
        margin-bottom: 15px;
    }

    .choose__inner-item__title {
        font-size: 20px;
        margin-bottom: 17px;
    }

    .choose__inner-item__imges {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .choose__inner-item__num {
        font-size: 38px;
    }

    .choose__text {
        display: inline-block;
        max-width: none;
        padding: 0px 0px;
        margin: 0 0 25px 0;
    }

    .money-back__link {
        font-size: 18px;
    }

    .advantages__item-title,
    .join__inner-title {
        font-size: 30px;
        line-height: 25px;
    }

    .weekly__slide-btn a {
        display: block;
        text-align: center;
        margin-bottom: 15px;

        &+a {
            margin-left: 0px;
        }

    }

    .weekly__slide-btn {
        display: block;
    }

    .weekly__slide-bottom {
        display: block;
    }

    .rate-star .jq-ry-container {
        margin-top: 10px;
        padding-top: 10px;
        display: block;
    }

    .user__menu {
        top: 80px;
        padding: 0px 15px;
        width: 200px;
    }

    .user__menu-icon {
        line-height: 22px;

        &::before {
            line-height: 22px;
        }
    }

    .basket__menu {
        top: 54px;
        left: -50px;
        right: 0;
        width: 300px;
        padding: 5px 10px;

        &::before {
            display: none;
        }
    }

    .header__btn {
        display: none;
    }

    .header__avatar-user__menu {
        min-width: 120px;
        max-width: 170px;
        background-color: #eef1f3;
        min-height: 80px;
        margin-top: 0;
        right: 30%;
        padding-left: 20px;
    }

    .search__box-inner form input {
        max-width: 60%;
        margin-left: 15px;

    }

    .search__now-btn {
        display: none;
    }

    .search__box-inner {
        width: 93%;
    }

    .search__box-inner::before {
        width: 92%;
    }

    .search__box-inner::after {
        width: 85%;
    }

    .weekly__slide .icon-angle-right {
        top: -70px;
        right: 35px;
    }

    .weekly__slide .icon-angle-left {
        top: -70px;
        right: 73px;
    }

    .marketing__item {
        padding: 15px 0px;
    }

    .marketing__item-images {
        max-width: 93px;
        min-height: 93px;
        margin: 0 auto 10px;
    }

    .marketing {
        padding: 100px 0 30px;
    }

    .marketing__item-title {
        font-size: 22px;
        margin-bottom: 15px;
    }
}

@media (max-width: 360px) {
    .feedback__item-user {
        min-height: none;
    }

    .feedback__item-avatar {
        width: 45px;
        height: 45px;
        margin-right: 10px;
    }

    .feedback__item-name {
        font-size: 18px;
    }

    .feedback__item-icon {
        font-size: 40px;
    }

    .feedback__item {
        padding: 10px 5px;
    }

    .followers__slide .icon-angle-left {
        right: 70px;
        top: -80px;
    }

    .followers__slide .icon-angle-right {
        right: 35px;
        top: -80px;
    }

    .advantages__item-title {
        line-height: 25px;
    }

    .advantages__item-num,
    .choose__title {
        font-size: 25px;
    }

    .choose {
        padding: 50px 0 20px;
    }

    .choose__title {
        margin-bottom: 10px;
    }

    .advantages__item-text {
        line-height: 22px;
    }

    .weekly__slide-item_links {
        flex-direction: column;
        align-items: stretch;
        text-align: center;

        a {
            margin-bottom: 20px;
        }
    }

    .weekly__slide .icon-angle-right {
        top: -70px;
        right: 30px;
    }

    .weekly__slide .icon-angle-left {
        top: -70px;
        right: 58px;
    }

    .search {
        min-height: 775px;
    }

    .search-btn {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .search__title,
    .search__top-title {
        font-size: 35px;
    }

    .search__box-inner {
        width: 91%;
    }

    .search__box-inner::before {
        width: 90%;
    }

    .search__box-inner::after {
        width: 81%;
    }

    .header__avatar-img {
        margin-top: 20px;
    }

    .header__avatar-info {
        display: none;
    }

    .footer-col__menu {
        min-width: 100%;

        &+& {
            margin-left: 0px;
        }
    }

    .footer__form input {
        max-width: 220px;
    }

    .footer__form button {
        right: 50px;
        width: 90px;
    }

    .footer__social-link li {
        margin-right: 5px;
    }
}


@media (min-width: 961px) {
    .menu__list {
        display: block !important;
    }
}