@import 'vars';
@import 'global';
@import 'fonts';

//start header
.header__top {
    background-color: #eef1f3;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__box {
    margin-left: auto;
    margin-right: 15px;

    .header__btn {
        margin-right: 15px;
    }

    a+a {
        margin-right: 33px;
    }
}

.header__btn {
    background-color: $bg-btn;
    padding: 4px 17px;
    width: 140px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
}

.header__avatar {
    display: flex;
    align-items: center;
    line-height: 22px;
}

.header__avatar-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 22px;
}

.header__avatar-name {

    font-weight: 700;
    color: #333;
}

.header__avatar-price {
    color: $bg-btn;
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;

    form {
        max-width: 360px;
        width: 100%;
        position: relative;
        background-color: transparent;

        input {
            display: block;
            width: 100%;
            font-size: 15px;
            height: 45px;
            border-radius: 22px;
            border: 1px solid #d9dfe5;
            padding: 0 80px 0 24px;

            &:focus {
                border: 1px solid $bg-btn;
            }

            &::placeholder {
                color: #898f96;
            }
        }

        .header__menu-search {
            background-color: $bg-btn;
            height: 46px;
            width: 70px;
            border-radius: 22px;
            position: absolute;
            border: none;
            top: 0;
            right: 0;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 34px;
        }
    }

    a {
        color: #494949;
        font-weight: 700;
        font-size: 15px;
        line-height: 42px;
        text-transform: uppercase;
    }

}

//end header
//start section search
.search {
    min-height: 725px;
    background-color: $bg;
    text-align: center;
    color: #fff;
    position: relative;
}

.search__inner {
    font-size: 60px;
    line-height: 70px;

    button+button {
        margin-left: 30px;
    }
}

.search__inner-suptitle {
    padding: 180px 0 0px 0;
}

.search__inner-subtitle {
    font-size: 20px;
    line-height: 72px;
    padding: 15px 0 55px 0;
}

.search-btn {
    max-width: 190px;
    height: 55px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    background-color: transparent;
    font-size: 20px;
    transition: all .5s;
}

.search-btn:hover {
    background-color: #fff;
    color: $bg-btn;
}

.search__box::after {
    content: "";
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    opacity: .5;
    position: absolute;
    left: 40px;
    top: -40px;
    max-width: 1080px;
    width: 100%;
    height: 135px;
}

.search__box::before {
    content: "";
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    position: absolute;
    left: 20px;
    top: -20px;
    max-width: 1110px;
    width: 100%;
    height: 135px;  
}
//Не работает z-index:, непонимаю почему


.search__box {
    position: absolute;
    bottom: -65px;
    max-width: 1140px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    z-index: 4;

    form {
        min-height: 135px;
        background-color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            max-width: 808px;
            width: 100%;
            height: 55px;
            border-radius: 5px;
            border: 1px solid #dcdcdc;
            color: #676767;
            padding: 0 205px 0 30px;
            line-height: 42px;
            position: relative;
        }

        select {
            position: absolute;
            max-width: 193px;
            min-height: 53px;
            border: none;
            border-left: 1px solid #dcdcdc;
            color: #676767;
            line-height: 42px;
            right: 36%;

        }

    }
}

.search__now-btn {
    background-color: $bg-btn;
    color: #fff;
    line-height: 42px;
    border-radius: 4px;
    max-width: 223px;
    width: 100%;
    margin-left: 30px;
}

//start section marketing

.marketing{
    min-height: 710px;
}
//end section marketing